/* body{
  background: url(https://miro.medium.com/max/300/1*kdY26OPGZbeNKJs60q0zUg.png)
} */

td{
   height: 150px;
   width:150px;
   text-align: center;
  border: 5px solid black;
  font-size: 100px;
}
